:root {
  --addBtn-color: #292929;
  --textBox-color: #e0e0e0;
  --white-color: #f1efef;
  --done-color: #9b9898;
}
.title {
  text-align: center;
}

.tools {
  display: flex;
  justify-content: center;
}

#newThing {
  display: flex;
  margin-right: 5px;
  border: 0;
  background-color: var(--textBox-color);
}

#addBtn {
  display: flex;
  border-color: var(--addBtn-color);
  background-color: var(--addBtn-color);
  color: var(--white-color);
}

.list {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

#tdl div {
  display: flex;
  justify-content: center;
}

#tdl li {
  display: flex;
  font-size: larger;
  padding: 0px 5px;
  margin: 0px 5px;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

#tdl i {
  display: flex;
  align-items: center;
  margin: 0px 5px;
  padding: 10px;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  opacity: 40%;
}
